.container{
    height: 20vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inside-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.inside-container button{
    margin-top:20px ;
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    background-color: beige;
    font-size: 18px;
    cursor: pointer;
}
.inside-container button:hover{
    background-color: bisque;
}
.tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-container button{
    width: min-content;
    padding: 10px 25px;
    background-color: black;
    color: aliceblue;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.todo-item{
    display: flex;
    flex-direction: row;
}
.empty-fields{
    padding: 10px;
    width: 30vw;
    border: none;
    border-radius: 10px;
}
.check-box{
    margin-left: 15px;
    width: 33px;
    height: 33px;

}
.completed-container{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.completed-container h3{
    font-size: 25px;
}